


@model ViewModelMovie

<partial name="_Search" />

        <div class ="form-group text-center" style="margin-left:20%;margin-top:2%;width:60%;text-align:center">
            <p style="font-size:20px;font-family:Segoe UI,Arial,sans-serif;color:#6666ff ;text-shadow:2px 2px #bbbbbb;font-weight:400">Not interested in these results? Try again!</p>
        </div>

            <br />
             @if (ViewBag.OnAdded != null)
            {
                <div style="font-size:14px;font-family:Segoe UI,Arial,sans-serif;color:#33de99;text-shadow:1px 1px #44efa0;font-weight:600">
                    <p class="glyphicon glyphicon-ok" >  @ViewBag.OnAdded</p> 
                </div>
            }
    

        <div class ="container" style="text-align:center;background-color:#150c25;color:#c2c2c2;height:32px">
                <div class="row">
                    <div class="col-sm">
                        Add
                    </div>
                    <div class="col-sm">
                        Poster
                    </div>
                      
                      <div class="col-sm">
                        ID
                    </div>
                      <div class="col-sm">
                        Title
                    </div>
                      <div class="col-sm">
                        Release Date
                    </div>
                     <div class="col-sm">
                            Plot
                    </div>

                      <div class="col-sm">
                        Type
                    </div>
                    <div class ="col-sm">
                        Genre
                    </div>

                </div>

                
            </div>

           @foreach(RandomMovie movie in Model.RandomMovies)
           {
                  <form asp-action="AddRandomMovie" method="post">
                     <input type="hidden" asp-for="Movies.imdbID" name="imdbID" value="@movie.imdbID" />
                     <input type="hidden" asp-for="Movies.Title" name="Title"value="@movie.Title"/> 

                     <div class="container" style="background:#e6dfed">

                 
                         <div class="row" style="text-align:center;vertical-align:middle;font-size:22px;border-bottom:solid #c9c9f9 1px;margin-top:12px;">
                                 
                             <div class="col-sm" style="margin-top:30px">
                                 <button class="btn btn-success" style="float:left;background-color:#55ab55;opacity:0.8;" type ="submit">
                                     <span class="glyphicon glyphicon-plus"/>
                                 </button>

                                 <img src="@movie.Poster" alt="Sorry, no picture provided" style="float:right;width:70px;height:85px;margin-right:20px;margin-bottom:2px;margin-left:15px"/>
                             </div>

                             <div class="col-sm" style="margin-top:30px"><a href="https://www.imdb.com/title/@movie.imdbID" target="_blank">@movie.imdbID</a></div>
                             <div class="col-sm" style="margin-top:30px">@movie.Title</div>
                             <div class="col-sm" style="margin-top:30px">@movie.Year</div>
                             <div class="col-sm" style="margin-top:30px">@movie.Type</div>
                             <div class="col-sm" style="margin-top:30px">@movie.Genre</div>
                         </div>
                     </div>
                 </form>
           }
   
                                
                              
                    

                         
                       
                    