@{
    ViewData["Title"] = "API";
    ViewData["Search"] = "MovieReturn";
    
} 
@model MovieDataBase.Models.ViewModelMovie


@Html.Partial("_Search")
<div>
<hr />
<h5 style="font-family:'Courier New', monospace">@ViewBag.SearchString</h5>

<br />

@{
        if (!(bool)ViewBag.noResults)
        {
            <div class ="container" style="background-color:#150c25;color:#c2c2c2">
                <div class="row">
                    <div class="col-sm">
                        ADD
                    </div>
                      <div class="col-sm">
                       
                    </div>
                      <div class="col-sm">
                        ID
                    </div>
                      <div class="col-sm">
                        Title
                    </div>
                      <div class="col-sm">
                        Release Date
                    </div>
                      <div class="col-sm">
                        Type
                    </div>

                </div>

                
            </div>
            <br/>
            
                    @foreach(var a in Model.SearchResults.Search) 
                        {
                            @Html.BeginForm("AddMovie","Search",FormMethod.Post){

                           
                                
                                <div class="container">
                                <div class="row">
                                    <div class="col-sm">
                                         <button class="btn btn-success" style="background-color:#00aa00;opacity:0.8" type ="submit">
                                        <span class="glyphicon glyphicon-plus"></span></button>
                                    </div>

                                    <div class="col-sm"><img src="@a?.Poster" style="float:left;width:70px;height:85px;"/></div>

                                     <div class="col-sm"><a href="https://www.imdb.com/title/@a?.imdbId" target="_blank">@a?.imdbId</a></div>

                                     <div class="col-sm">
                                        <input type="hidden" asp-for="Movies.Title" name="Title" value="@a.Title"/> @a?.Title
                                     </div>
                                     
                                     <div class="col-sm">
                                          <input type="hidden" asp-for="Movies.ReleaseDate" name="ReleaseDate" value="@a.Year"/>@a?.Year
                                     </div>

                                     <div class="col-sm">@a?.Type</div>
                                    
                                </div>
                                
                            </div>
                               
                            }
                         
                       
                        }
             
        }
}

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
